.pagination-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.per-page {
  width: 140px;
  label {
    font-size: 12px;
  }
  select {
    font-size: 14px;
    width: 30%;
    border: none;
  }
}

.pagination-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  ul {
    display: flex;
  }

  button {
    margin-right: 8px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 1.5px solid #d1d1d1;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #d9d9d9;
      border: 1.5px solid #c9c9c9;
    }

    &:disabled {
      pointer-events: none;
      color: #a1a1a1;
    }
  }
}

.three-dot {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 8px;
  width: 35px;
  height: 35px;
  background-color: transparent;
}
