.list-wrapper {
  height: 100%;
  border-bottom: 1px solid #d1d1d1;

  padding: 5px 20px;

  display: flex;
  align-items: center;
  text-align: center;

  .id {
    width: 8%;
  }
  .price,
  .rating,
  .stock {
    width: 7%;
  }

  .title,
  .brand {
    width: 20%;
  }

  .description {
    width: 31%;
    display: flex;
    justify-content: center;

    div {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
