.App {
  height: calc(100vh - 20px);
  background-color: whitesmoke;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;

  .searched-data {
    height: 100px;
    display: flex;
    align-items: center;
  }
}
